<div class="posts">
    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="/assets/avatars/{{post.usuario.avatar}}">
        </ion-avatar>
        <ion-label>
            <h3>{{post.usuario.nombre}}</h3>
            <h5>{{"@"+post.usuario.nickname}}</h5>
        </ion-label>
    </ion-item>

    <ion-slides pager="true" *ngIf="post.bucket.imgs.length > 1">
        <ion-slide *ngFor="let img of post.bucket.imgs" class="image-slide" [style]=" (img.img | imagen: post.bucket._id) | domSanitizer ">
        </ion-slide>
    </ion-slides>

    <ion-slides *ngIf="post.bucket.imgs.length === 1" [options]="slideSoloOpts">
        <ion-slide class="image-slide" [style]=" (post.bucket.imgs[0].img | imagen: post.bucket._id) | domSanitizer ">
        </ion-slide>
    </ion-slides>

    <!-- mapa -->
    <app-mapa [coords]="post.coords" *ngIf="post.coords"></app-mapa>


    <ion-item lines="none">
        <ion-icon slot="start" name="heart-empty"></ion-icon>
        <ion-icon slot="end" name="bookmark"></ion-icon>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap *ngIf="!showTranslation || translation===''">
            {{post.mensaje.texto}}
            <a *ngIf="!sameLanguage && !showTranslation" (click)="traducirPost()">Traducir</a>
            <ion-spinner *ngIf="showTranslation && translation===''" name="dots"></ion-spinner>
        </ion-label>
        <ion-label text-wrap *ngIf="showTranslation && translation!==''">
            {{translation}}
            <a *ngIf="!sameLanguage" (click)="showOriginal()">Mostrar original</a>
        </ion-label>
    </ion-item>
</div>